@font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-VariableFont_wght.ttf')  format('truetype');
}
@font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf')  format('truetype');
    font-style: italic;
}

:root {
    --text: #000;
    --bgcolor: #FFF;
    --lines: #000;
    --button-light: #eee;
    --button-dark: #aaa;
    --correct: rgb(128,255,128);
    --wrong: rgb(225,128,128);
    --link: blue;
    --visited: purple;
    --active: red;
}
/* Dark Mode eventually...*/
@media (prefers-color-scheme: dark) {
    :root {
        --text: #FFF;
        --bgcolor: #222;
        --lines: #999;
        --button-light: #333;
        --button-dark: #CCC;
        --correct: rgb(29, 59, 29);
        --wrong: rgb(69, 0, 0);
        --link: #eee;
        --visited: #aaa;
        --active: red;
    }
}
/* */

body {
    transition-duration:1s;
    font-family:'EB Garamond';
    text-align:center;
    font-size: 150%;
    color: var(--text);
    background-color:var(--bgcolor);
}

a {
    color:var(--link);
}
a:visited {
    color:var(--visited);
}
a:active {
    color:var(--active);
}

ul {
    padding:5px;
    margin:0px;
}
li {
    display:inline-block;
    line-height:.8;
    padding:1ex;
    padding-bottom:1.4ex;
    margin:0px .5ex ;
    border:1px solid;
    border-radius:10px;
}
#landing {
    border-bottom:2px solid var(--lines);
    height:50px;
    padding-bottom:20px;
}

#playground {
    min-width:50%;
    transition-duration:.5s;
}

/* Herodian Font w/Palestinian Vowels */
@font-face {
    font-family: 'Galilean';
    src: url('/fonts/GalHerodPalVow9.ttf')  format('truetype');
}

gal {
    display:inline-block;
    padding-bottom:10px;
    font-family: Galilean;
    font-size:210%;
    line-height:60%;
}

h2.arc, #landing.arc, #answer.arc {
    font-weight:normal;
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    justify-content:center;
    column-gap:15px;
}
#landing.arc, #answer.arc {
    column-gap:10px;
}
.arc span {
    display:inline-block;
    padding-bottom:10px;
    font-family: Galilean;
    font-size:210%;
    line-height:60%;
}


button, .button {

    color:var(--lines);

    margin-top:3ex;
    margin-bottom:3ex;

    display:inline-block;
    line-height:1;
    padding:1ex;
    margin:0px .5ex ;
    border:1px solid var(--button-dark);
    border-radius:5px;
    background-color: var(--button-light);
}

#answer {
    opacity:0;
    border:1px solid var(--button-dark);
    padding:10px;
    margin-top:2ex;
    background-color: var(--button-light);
    border-radius:10px;
    transition-duration:.5s;
}

#correct {
    position:absolute;
    top:10px;
    right:10px;
    border:1px solid;
    text-align:center;
    padding:.5ex;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}
#back {
    position:absolute;
    top:10px;
    left:10px;
    border:1px solid;
    text-align:center;
    padding:.5ex;
    border-radius:5px;
    cursor:pointer;
}

#list {
    min-width:50vw;
    margin:0px auto;
    border:1px solid var(--lines);
    padding:.5ex 1ex;
    border-radius:5px;
}
#list {
    text-align:left;
}


footer {
    font-size:75%;
    margin-top:1em;
    margin-bottom:100px;
}
.lessonTableTitle {
    padding-left:1em;
}

.count {
    text-align:center;
}

.count.star::before, #score.star::before {
    content : "⭐";
}
.count.bronze::before, #score.bronze::before {
    content : "🥉";
}
.count.silver::before, #score.silver::before {
    content : "🥈";
}
.count.gold::before, #score.gold::before {
    content : "🏅";
}
.count.dove::before, #score.dove::before {
    content : "🕊️";
}

#mainLogo {
    max-width:150px;
    border-radius:150px;
}
#appLogo {
    max-width:64px;
    border-radius:64px;
    position:absolute;
    top:10px;
    left:50%;
    margin-left: -32px;
}

#qr-save {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    /*background-color:rgba(255,255,255,.95);*/
    backdrop-filter: blur(0px);
    display:none;
}
#qr-save.visible {
    display:block;
    backdrop-filter: blur(10px);
}
#qr-save svg {
    width:100%;
    max-width:300px;
}

button, #save-link {
    border:1px solid var(--button-dark);
    background-color: var(--button-light);
    padding:.25ex 1ex;
    border-radius:2em;
    display:inline-block;
    margin:1ex 0;
    cursor:pointer;
}
#save-link:hover {
    background-color: var(--button-light);
    border-color: var(--lines);
}

#streak {
    position:absolute;
    padding:.5ex 2ex;
    max-width:100px;
    border:1px solid var(--lines);
    background-color: var(--bgcolor);
    border-radius:2em;
    border-bottom-right-radius:0px;
    right:50%;
    margin-right:50px;
}
#streak:empty {
    display:none;
}